/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #2B4E80;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  background-color: #E6ECF4;
  border-radius: 10px;
  padding: 20px;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 80px;
  width: 80px;
  margin-bottom: 80px;
  margin-top: 30px;
}

#eight {
  visibility: visible;
}

#woody {
  height: 450px;
  width: auto;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

input,
button {
  width: 380px;
  height: 40px;
  margin: 10px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

input {
  text-align: center;
}

#answer {
  background-color: #607AA0;
  color: white;
}

#clear {
  background-color: #D0CDCD;
  width: 100px;
  color: white;
  align-self: flex-end;
}

h3 {
  font-style: italic;
}
